<div class="container">
  <div class="filter">
    <mat-form-field>
      <mat-label>Selecione uma Disciplina</mat-label>
      <mat-select
        [(ngModel)]="selectedCourse"
        (selectionChange)="onCourseChange()"
      >
        <mat-option *ngFor="let course of courses" [value]="course">{{
          course
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <h1 style="margin-left: 24px">
    {{ selectedCourse || courses[0] }}
  </h1>

  <mat-horizontal-stepper
    [linear]="true"
    #stepper
    (selectionChange)="stepperSelectionChange($event)"
  >
    <mat-step>
      <ng-template matStepLabel>Seleção de Questões</ng-template>

      <div style="margin-bottom: 15px" *ngFor="let question of questions">
        <mat-card class="card-item">
          <mat-card-actions class="card-actions">
            <mat-chip-listbox aria-label="select question">
              <mat-chip-option (click)="selectQuestion(question)"
                >selecionar</mat-chip-option
              >
            </mat-chip-listbox>
          </mat-card-actions>
          <mat-card-header class="card-header">
            <mat-card-title class="card-title">
              Questão {{ question.id }}
              <button
                mat-stroked-button
                [ngClass]="getDifficultyColor(question.level)"
              >
                {{ getLevelName(question.level) }}
              </button>
            </mat-card-title>
            <p>3/5</p>
          </mat-card-header>
          <mat-card-content class="card-content">
            <div class="question-text">
              <p>{{ question.description }}</p>
            </div>
            <div *ngIf="question.question_type_id != TYPE.OPEN" class="options">
              <p>Marque a alternativa correta:</p>
              <mat-radio-group
                aria-labelledby="options"
                class="example-radio-group"
              >
                <mat-radio-button
                  color="primary"
                  *ngFor="let option of question.options"
                  [value]="option"
                  >{{ option }}</mat-radio-button
                >
              </mat-radio-group>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Resposta Correta</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            {{ question.answer }}
          </mat-panel-description>
        </mat-expansion-panel>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Revisão</ng-template>
      <div
        style="margin-bottom: 15px"
        *ngFor="let question of selectedQuestions"
      >
        <mat-card class="card-item">
          <mat-card-header class="card-header">
            <mat-card-title class="card-title">
              Questão {{ question.id }}
              <button
                mat-stroked-button
                [ngClass]="getDifficultyColor(question.level)"
              >
                {{ question.level }}
              </button>
            </mat-card-title>
            <p>1/5</p>
          </mat-card-header>
          <mat-card-content class="card-content">
            <div class="question-text">
              <p>{{ question.description }}</p>
            </div>

            <div *ngIf="question.question_type_id != TYPE.OPEN" class="options">
              <p>Marque a alternativa correta:</p>
              <mat-radio-group
                aria-labelledby="options"
                class="example-radio-group"
              >
                <mat-radio-button
                  color="primary"
                  *ngFor="let option of question.options"
                  [value]="option"
                  >{{ option }}</mat-radio-button
                >
              </mat-radio-group>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel> Confirmação </ng-template>
      <div class="confirmation-content">
        <mat-form-field class="exam-name-field">
          <input
            matInput
            placeholder="Título da Prova"
            [(ngModel)]="examName"
            name="provaName"
          />
        </mat-form-field>
        <div class="share-button">
          <a class="share-link" (click)="shareExam()">
            <mat-icon class="share-icon">share</mat-icon>
            Compartilhar Prova
          </a>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  <div class="container">
    <button
      mat-raised-button
      color="primary"
      class="generate-assessment"
      *ngIf="selectedStepper != 0"
      (click)="
        selectedStepper == 1 ? toggleEditMode() : openConfirmationDialog()
      "
    >
      {{ selectedStepper == 1 ? "Edição" : "Gerar Prova" }}
    </button>
  </div>
</div>
