<h1 mat-dialog-title style="text-align: center">Edição</h1>
<div mat-dialog-content>
  <div *ngIf="data.type == QuestionType.mcq">
    <form [formGroup]="question">
      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>

      <div formArrayName="options">
        <button mat-raised-button color="primary" (click)="addOption()">
          <mat-icon>add</mat-icon> Adicionar opção
        </button>
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
          "
        >
          <div *ngFor="let optionControl of optionControls; let i = index">
            <mat-form-field>
              <mat-label>Opção {{ i + 1 }}</mat-label>
              <input matInput [formControlName]="i" />
            </mat-form-field>
            <button mat-icon-button (click)="removeOption(i)">
              <mat-icon color="primary">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div style="display: flex; flex-direction: column">
        <mat-form-field>
          <mat-label>Resposta Correta</mat-label>
          <input matInput formControlName="answer" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Dificuldade</mat-label>
          <mat-select formControlName="difficulty">
            <mat-option value="FÁCIL">Fácil</mat-option>
            <mat-option value="MÉDIO">Médio</mat-option>
            <mat-option value="DIFÍCIL">Difícil</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <input matInput formControlName="category" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Pontuação</mat-label>
          <input matInput formControlName="score" />
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    </form>
  </div>
  <div *ngIf="data.type == QuestionType.boolean">
    <form [formGroup]="question">
      <div style="display: flex; flex-direction: column">
        <mat-form-field>
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="text" />
        </mat-form-field>
      </div>
      <mat-selection-list [multiple]="false">
        <mat-list-option color="primary"> Sim </mat-list-option>
        <mat-list-option color="primary"> Não </mat-list-option>
      </mat-selection-list>

      <mat-form-field>
        <mat-label>Dificuldade</mat-label>
        <mat-select formControlName="difficulty">
          <mat-option value="FÁCIL">Fácil</mat-option>
          <mat-option value="MÉDIO">Médio</mat-option>
          <mat-option value="DIFÍCIL">Difícil</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <input matInput formControlName="category" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Pontuação</mat-label>
        <input matInput formControlName="score" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    </form>
  </div>
  <div *ngIf="data.type == QuestionType.open">
    <form [formGroup]="question">
      <div style="display: flex; flex-direction: column">
        <mat-form-field>
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="answer" />
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Dificuldade</mat-label>
        <mat-select formControlName="difficulty">
          <mat-option value="FÁCIL">Fácil</mat-option>
          <mat-option value="MÉDIO">Médio</mat-option>
          <mat-option value="DIFÍCIL">Difícil</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <input matInput formControlName="category" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Pontuação</mat-label>
        <input matInput formControlName="score" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    </form>
  </div>
</div>
