<div class="example-action-buttons">
  <button mat-button (click)="accordion.openAll()">Expandir tudo</button>
  <button mat-button (click)="accordion.closeAll()">Fechar tudo</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Questão de Múltipla Escolha</mat-panel-title>
      <mat-panel-description>
        Insira os detalhes da questão de múltipla escolha.
        <mat-icon>help_outline</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="question">
      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>

      <div formArrayName="options">
        <button mat-raised-button color="primary" (click)="addOption()">
          <mat-icon>add</mat-icon> Adicionar opção
        </button>
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
          "
        >
          <div *ngFor="let optionControl of optionControls; let i = index">
            <mat-form-field>
              <mat-label>Opção {{ i + 1 }}</mat-label>
              <input matInput [formControlName]="i" />
            </mat-form-field>
            <button mat-icon-button (click)="removeOption(i)">
              <mat-icon color="primary">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <div style="display: flex; flex-direction: column">
        <mat-form-field>
          <mat-label>Resposta Correta</mat-label>
          <input matInput formControlName="answer" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Dificuldade</mat-label>
          <mat-select formControlName="difficulty">
            <mat-option value="easy">Fácil</mat-option>
            <mat-option value="medium">Médio</mat-option>
            <mat-option value="hard">Difícil</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <input matInput formControlName="category" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Pontuação</mat-label>
          <input matInput formControlName="score" />
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Questão de Verdadeiro ou Falso</mat-panel-title>
      <mat-panel-description>
        Insira os detalhes da questão de verdadeiro ou falso.
        <mat-icon>help_outline</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="question">
      <div style="display: flex; flex-direction: column">
        <mat-form-field>
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>
      </div>
      <mat-selection-list [multiple]="false">
        <mat-list-option color="primary"> Sim </mat-list-option>
        <mat-list-option color="primary"> Não </mat-list-option>
      </mat-selection-list>
      <mat-form-field>
        <mat-label>Dificuldade</mat-label>
        <mat-select formControlName="difficulty">
          <mat-option value="easy">Fácil</mat-option>
          <mat-option value="medium">Médio</mat-option>
          <mat-option value="hard">Difícil</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <input matInput formControlName="category" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Pontuação</mat-label>
        <input matInput formControlName="score" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Questão Aberta</mat-panel-title>
      <mat-panel-description>
        Insira os detalhes da questão.
        <mat-icon>help_outline</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="question">
      <div style="display: flex; flex-direction: column">
        <mat-form-field>
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="description" />
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Dificuldade</mat-label>
        <mat-select formControlName="difficulty">
          <mat-option value="easy">Fácil</mat-option>
          <mat-option value="medium">Médio</mat-option>
          <mat-option value="hard">Difícil</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Categoria</mat-label>
        <input matInput formControlName="category" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Pontuação</mat-label>
        <input matInput type="number" formControlName="score" />
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    </form>
  </mat-expansion-panel>
</mat-accordion>
<div class="automated-question">
  <div class="sidebar">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Gerar questões com base em Texto</mat-card-title>
          <mat-card-subtitle
            ><button
              mat-mini-fab
              color="primary"
              aria-label="botão de adicionar conteúdo"
              (click)="selectedOption = 'text'"
            >
              <mat-icon>add</mat-icon>
            </button></mat-card-subtitle
          >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Gerar questões com base em Video</mat-card-title>
          <mat-card-subtitle
            ><button
              mat-mini-fab
              color="primary"
              aria-label="botão de adicionar conteúdo"
              (click)="selectedOption = 'video'"
            >
              <mat-icon>add</mat-icon>
            </button></mat-card-subtitle
          >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
    </mat-card>
  </div>
  <div class="view-questions">
    <mat-card *ngIf="selectedOption" class="content">
      <mat-card-content *ngIf="selectedOption == 'video'">
        <form
          class="example-form"
          (submit)="generateQuestions()"
          #form="ngForm"
        >
          <mat-form-field class="example-full-width">
            <mat-label>URL</mat-label>
            <input
              matInput
              placeholder="URL do video"
              name="url"
              ngModel
              required
            />
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!form.valid"
          >
            Gerar Questões
          </button>
        </form></mat-card-content
      >
      <mat-card-content *ngIf="selectedOption == 'text'">
        <form
          class="example-form"
          (submit)="generateQuestions()"
          #form="ngForm"
        >
          <mat-form-field class="example-full-width">
            <mat-label>Texto</mat-label>
            <textarea
              matInput
              placeholder="Adicione um texto"
              name="texto"
              ngModel
              required
            ></textarea>
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!form.valid"
          >
            Gerar Questões
          </button>
        </form>
        <ng-container *ngIf="!isLoaded; else loading">
          <form class="questions" (submit)="generateQuestions()" #form="ngForm">
            <div *ngFor="let question of questions; let i = index">
              <mat-form-field class="full-width">
                <mat-label>Descrição {{ i }}</mat-label>
                <textarea
                  matInput
                  placeholder="Descrição"
                  id="input-description-{{ i }}"
                  name="description-{{ i }}"
                  [(ngModel)]="questions[i].description"
                  required
                ></textarea>
              </mat-form-field>
              <div *ngFor="let option of question.options; let j = index">
                <mat-form-field class="full-width">
                  <mat-label>Opção</mat-label>
                  <input
                    matInput
                    placeholder="Opção"
                    id="input-option-{{ j }}"
                    name="option-{{ j }}"
                    [(ngModel)]="questions[i].options[j]"
                    required
                  />
                </mat-form-field>
              </div>
              <mat-form-field class="full-width">
                <mat-label>Resposta Correta</mat-label>
                <input
                  matInput
                  placeholder="Resposta Correta"
                  id="input-answer-{{ i }}"
                  name="answer-{{ i }}"
                  [(ngModel)]="questions[i].answer"
                  required
                />
              </mat-form-field>
            </div>
          </form>
        </ng-container>
        <ng-template #loading>
          <div class="spinner">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
