.question-header {
  background-color: #e3edf7;
  height: 12%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  box-shadow: 4px 2px 16px rgb(136 165 191 / 54%);
}
