mat-toolbar-row {
  padding: 60px 30px;
}

.buttons {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.logo-text {
  font-size: 28px; /* Tamanho da fonte */
  font-family: "Comic Sans MS", cursive, sans-serif; /* Escolha uma fonte descontraída */
  color: #fff; /* Cor do texto */
  font-weight: bold; /* Peso da fonte (negrito) */
  text-transform: uppercase; /* Converte o texto para maiúsculas */
  letter-spacing: 2px; /* Espaçamento entre as letras */
  padding: 8px 15px; /* Espaçamento interno para tornar o texto arredondado */
  border-radius: 30px; /* Raio das bordas para criar uma aparência arredondada */
  margin-right: 20px; /* Margem à direita para separá-lo dos botões */
}

/* Exams Panel */

.sidenav {
  width: 250px;
  background-color: #d6d6d695;
}
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.user-profile img {
  width: 80px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 80px; /* Ajuste o tamanho da imagem conforme necessário */
  border-radius: 50%; /* Para criar uma imagem circular */
}

.user-profile h2 {
  margin-top: 10px;
  font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
}

.create-exam-button {
  width: 20%;
  border-radius: 9px;
  margin-bottom: 20px;
}

.content {
  padding: 20px;
  flex: 1;
  background-color: #B3C3FF;
  /* background-color: #ebf3fa; */
}

/* Estilo para os cards */
.exam-card {
  display: flex; /* Cria um layout em linha para as informações */
  background-color: #fff; /* Cor de fundo do card */
  border: 1px solid #ccc; /* Borda ao redor do card */
  border-radius: 5px; /* Borda arredondada */
  margin-bottom: 10px; /* Espaço entre os cards */
  padding: 10px; /* Espaçamento interno do card */
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.exam-card:hover {
  transform: scale(1);
}

.exam-card {
  transition: transform 0.2s;
}

/* Estilo para cada informação dentro do card */
.exam-card .exam-details {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly; /* Adiciona espaçamento igual entre as informações */
  width: 100%;
}

/* Estilo para o nome da prova */
.exam-name {
  word-break: break-all;
  width: 300px;
  font-size: 18px;
}

/* Estilo para a data de criação */
.exam-date {
  word-break: break-all;
  width: 300px;
  color: #555;
  margin-right: 10px;
}

/* Estilo para a disciplina */
.exam-discipline {
  word-break: break-all;
  width: 300px;
  color: #777;
}

.container {
  height: 100%;
}

.exams-container {
  margin-top: 5%;
  height: 100%;
  padding-left: 60px;
  padding-right: 60px;
}

.edit-button {
  color: #71269e !important;
}

.exam-header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66%;
}

.column-name {
  font-weight: 500;
  color: #777;
  margin-left: 93px;
}

.column-created {
  font-weight: 500;
  color: #777;
}

.column-course {
  font-weight: 500;
  color: #777;
}

/* Estilo para o campo de filtro */
.filter-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.filter-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 9px;
  outline: none;
  height: 20px;
}

.filter-input {
  width: 25%;
}

.search-icon {
  position: relative;
  margin-left: -32px;
}

::ng-deep.mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  height: 100%;
  margin-top: -80px;
}

.filter-card {
  display: flex;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  height: auto;
  justify-content: space-between;
}

/* Estilo para o contêiner dos cartões */
.metrics-card {
  display: flex;
  justify-content: space-around; /* Alinha os cartões horizontalmente com espaçamento uniforme */
  align-items: center; /* Alinha os cartões verticalmente ao centro */
  margin-top: 20px;
}

/* Estilo para cada cartão individual */
.metric-card {
  width: 200px; /* Largura do cartão */
  text-align: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px; /* Borda arredondada */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilo para o título do cartão */
.mat-card-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Estilo para o texto do cartão (por exemplo, "Provas Feitas") */
.mat-card-content p {
  font-size: 16px;
  color: #555;
}

.button {
  display: flex;
  align-items: center;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

#profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #3f51b5;
  font-size: 35px;
  color: #fff;
  text-align: center;
  line-height: 150px;
}

#profileImage p {
  margin-top: -22px;
}
