<div class="exams-container">
  <div class="filter">
    <div style="display: flex; gap: 40%">
      <div class="filter-input">
        <input
          type="text"
          placeholder="Filtrar"
          [(ngModel)]="filter"
          (input)="applyFilter()"
        />
        <mat-icon class="search-icon" style="opacity: 0.1">search</mat-icon>
      </div>
      <button
        mat-raised-button
        class="create-exam-button"
        style="background-color: #44009d74; color: white"
        (click)="navigateToCreateExam()"
      >
        <mat-icon>add</mat-icon> Criar Prova
      </button>
    </div>
  </div>
  <div class="exam-header">
    <div class="column-name">Exame</div>
    <div class="column-course">Disciplina</div>
    <div class="column-created">Criado</div>
  </div>
  <div style="height: 15px"></div>
  <div class="exam-card" *ngFor="let exam of filterExams; let i = index">
    <div class="exam-details">
      <div class="exam-name">{{ exam.name }}</div>
      <div class="exam-discipline">{{ exam.subject_name }}</div>
      <div class="exam-date">
        {{ exam.created_at | date : "dd/MM/yyyy" }}
      </div>
      <button
        mat-icon-button
        style="color: #fff"
        matTooltip="Checar Submissões"
        (click)="checkSubmissions()"
      >
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button style="color: #ff4848" (click)="removeExam(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
