html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #3f51b5;
  border-radius: 5px;
}

/* Snackbar Configuration */

.snackbar-success {
  --mdc-snackbar-container-color: #04ad9e;
  --mdc-snackbar-supporting-text-color: #ffffff;
  button {
    color: white;
  }
}

.snackbar-danger {
  --mdc-snackbar-container-color: #e13510;
  --mdc-snackbar-supporting-text-color: #ffffff;

  button {
    color: white;
  }
}

.snackbar-info {
  background-color: #3a86ff;

  button {
    color: white;
  }
}

.snackbar-success,
.snackbar-danger,
.snackbar-info {
  color: #ffffff;
}
